.images-parent{  
    .image2{
        transform: translate(50%,50%);
    }
}

@media(max-width:767px){
    .images-parent{
        min-height: 400px;
    }
    .image1,.image2{
        max-width: 200px;
    }
}