.nav {
  color: #CBD0EC;
  transition: background-color 0.2s ease-in;
  a{
    &:hover{
      color: #Ffffff;
    }
  }
  &.active {
    background-color: #fff;
    color: #141414;
    a{
      &:hover{
        color: #00AEEF;
      }
      &:focus{
        color: #00AEEF;
      }
    }
  }
}

@media (max-width: 1023px) {
  .nav {  
    &.expanded{
      background: white;
      color : #141414

    }
    &.active {
      background: #fff;
    }
  }
}
