@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../static/fonts/font.css";
@import "../css/typography.scss";

html,
body {
  scroll-behavior: smooth;
  color: #141414;
  background: #0d1835;
}

.footer {
  background: linear-gradient(107.23deg, #0d1835 0%, #16375f 100%);
}

.activeButton {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.scrolltop {
  right: 30px;
  bottom: 30px;
  z-index: 9999;
}

@media (max-width:1024px) {
  .scrolltop {
    right: 15px;
    bottom : 15px;
  }

  .pagination-dots {
    bottom: 40px;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
  background-color: white;
}
.footer {
  flex-shrink: 0;
}