* {
  font-family: "Gilroy-Regular";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy-Bold";
}

button {
  font-family: "Gilroy-medium";
}

.font-medium {
  line-height: 1.5625;
}

.blue-button {
  transition: all 0.2s ease-in;
  background-color: #00aeef;
  border: none;
  color: white;
  border-radius: 2px;
}
.blue-button:hover {
  background-color: #0098d1;
}

.transparent-button {
  color: #141414;
  transition: all 0.2s ease-in;
  background-color: transparent;
  border: 1px solid #00aeef;
  border-radius: 2px;
}
.transparent-button:hover {
  background-color: #0098d1;
}

.sub-title {
  line-height: 1.17 !important;
  letter-spacing: -0.3px;
}