.resource-box {
    border-radius: 5px;
    transition: box-shadow .2s ease-in;
    &:hover{
        box-shadow: 0px 4px 30px rgba(64, 89, 224, 0.25);
    }
    .white-content{
        min-height: 220px;
    }
}

.resources-main {
    background: url('../../images/resource-bg.png') no-repeat, #F6F7FB;
    background-size: cover !important;
}

.resource-description {
    line-height: 1.25;
    color: black;
}