.resource-main{
    min-height: 500px;
    height: 60vh;
    .resource-image{
        background-image: url(../../images/Ellipse.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        img {
            width: 300px;
        }
    }
}